<table>
    <tr valign="top">
        <td><img src="{{ user.avatar(36) }}"></td>
        <td>
            <a href="{{ url_for('user', username=post.author.username) }}">{{ post.author.username }} says: {{ post.body }}</a>
        </td>
    </tr>
</table>