{% extends "base.html.j2" %}

{% block content %}
    <h1>Hello, {{ current_user.username }}!</h1>
    <ul>
        {% for post in posts %}
        <li>{{ post.author.username }} says: <b>{{ post.body }}</b></li>
        {% endfor %}
    </ul>
{% endblock %}
